//- layout.pug
doctype html 
html
  head
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')
  body
    nav#navbar
      ul
        div#logo
          img(src="./static/logo.png")
            | HDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]
  block content
  block foot
  div#footer-1
      | Copyright © 2019 HarryAcademy.com | All Rights Reserved 