extends base.pug

block scripts
  script(src='./static/script.js')

block style 
    link(rel="stylesheet", href="./static/style.css")

block contact 
    | This Is The Contact

    nav#navbar
        ul
            div#logo
                img(src="./static/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]