@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
}
#navbar{
    background-color: rgb(184, 38, 38);
    padding: 13px 14px;
    font-family: "Permanent Marker", cursive;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    fontsize 20px;;
}

#navbar li a:hover{
    color: rgb(86, 164, 114);
    
}

#introSection{
    padding-bottom: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 300px;
    background-color: rgb(167, 39, 39);

}

#introSection div.small{
    font-size: 27px;
}
#sponsorSection{
    height: 300px;
    background-color: rgb(183, 82, 82);
}
#sponsorSection h2{
    text-align: center;
    padding-top: 12px;
    font-family: "Permanent Marker", cursive;
}

#footer{
    height: 100px;
    background-color: rgb(0, 0, 0);
}