@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
}
#navbar{
    background-color: gray;
    padding: 13px 14px;
    font-family: "Permanent Marker", cursive;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 30px;
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    background: center/cover no-repeat url("/st");
    background: center / cover no-repeat url("/static/bg7.jpg");
    height: 300px;
    background-color: red;

}

#sponsorSection{
    height: 300px;
    background-color: yellow;
}

#footer{
    height: 100px;
    background-color: rgb(0, 0, 0);
}