@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    filter: invert(1);
}

#navbar{
    background-color: rgb(184, 38, 38);
    padding: 13px 14px;
    font-family: "Permanent Marker", cursive;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    font-size: 18px;
    margin-top: 10px;
}

#navbar li a:hover{
    color: rgb(0, 0, 0);
    
}


#introSection{
    padding-bottom: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Oswald", sans-serif;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 425px;
    background-color: rgb(167, 39, 39);

}

#introSection div.small{
    padding: 4px;
    font-size: 27px;
}

#ourmission{
    height: 326px;; 
    width: 67%;
    margin: auto;
}

#ourmission h2{
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 10px 15px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-img img{
    height: inherit; 
}


#sponsorSection{
    height: 326px;; 
    width: 67%;
    margin: auto;
    background-color: brown;
    m
}
#sponsorSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    font-family: "Permanent Marker", cursive;
}

#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 80px;
    margin: 20px;
}

         



#footer{
    height: 100px;
    background-color: rgb(0, 0, 0);
}