@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Permanent+Marker&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
}

#navbar{
    background-color: rgb(184, 38, 38);
    padding: 13px 14px;
    font-family: "Permanent Marker", cursive;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    filter: invert(1);
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    font-size: 18px;;
}

#navbar li a:hover{
    color: rgb(0, 0, 0);
    
}

#introSection{
    padding-bottom: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Oswald", sans-serif;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 425px;
    background-color: rgb(167, 39, 39);

}

#introSection div.small{
    padding: 4px;
    font-size: 27px;
}

#ourmission{
    font-size: 20px;
    margin: auto;
    width: 67%;
    height: 326px;
}

#ourmission h2{
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-top: 12px;
    
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 32%;
    margin: 18px 6px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sponsorSection{
    height: 300px;
    background-color: rgb(183, 82, 82);
}
#sponsorSection h2{
    text-align: center;
    padding-top: 12px;
    font-family: "Permanent Marker", cursive;
}



#footer{
    height: 100px;
    background-color: rgb(0, 0, 0);
}